{% load static %}
<!doctype html>
<html lang="es">

    <head>
        <!--configuracion de pagina-->
        {% include './include/head.html' %}
    </head>
<body class="container">
    {% block content %}
    <form method="POST" id="formulario-login" action="{% url 'login_iniciar' %}" class="form-signin text-center">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'imagen/logoAsegurados.png' %}" alt="" width="320" height="140">
    <h1 class="h4 mb-3 font-weight-normal">Iniciar Sesión</h1>
    <label for="correo" class="sr-only">Email</label>
    <input type="email" id="correo" name="correo" class="form-control" placeholder="Email" required>
    
    <label for="contrasenia" class="sr-only">Password</label>
    <input type="password" id="contrasenia" name="contrasenia" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block " type="submit">Iniciar</button>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Iniciar con Google</button>
    <a class="nav-link text-right" href="{% url 'reset_password' %}">Recuperar contraseña</a>
    <p class="mt-5 mb-3 text-muted">© 2020</p>  
    </form>    
    {% endblock %}
</body>

</html>