{% load static %}
{% include './include/head3.html' %}

<body>
<img class="mb-4" src="{% static 'imagen/logoAsegurados.png' %}" alt="" width="320" height="140">
<h3>Ingrese su nueva clave</h3>

<p>Ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.</p>


<form method="post">

    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Update Password">

</form>
</body>