
Su contraseña ha sido establecida. Puede continuar e iniciar sesión ahora.
<img class="mb-4" src="{% static 'imagen/logoAsegurados.png' %}" alt="" width="320" height="140">

    <h3>Restablecimiento de contraseña completo</h3>

    <p>Su contraseña ha sido establecida. Puede continuar e iniciar sesión ahora.</p>

    <a href="{% url 'index' %}">Iniciar sesión</a>