{% load static %}
{% include './include/head3.html' %}

<body>

    <img class="mb-4" src="{% static 'imagen/logoAsegurados.png' %}" alt="" width="320" height="140">
    <p>¿Olvidaste tu contraseña? </p>
    <p>Ingrese su dirección de correo electrónico a continuación y
        le enviaremos las
        instrucciones para configurar una nueva.</p>


    <form method="post">

        {% csrf_token %}
        {{form}}
        <input type="Submit" name="Send email">

    </form>
</body>