{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!--configuracion de pagina-->
    {% include './include/head3.html' %}
</head>

<body class="container">

    <section>
        <div class="text-center">
            <img class="mb-4" src="{% static 'imagen/logoAsegurados.png' %}" alt="" width="320" height="140">
            <h3>Se envió el restablecimiento de contraseña</h3>


            <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con
                el correo electrónico que ingresó. Debería recibirlos en breve.

            <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y
                verifique su carpeta de correo no deseado.</p>

            <a href="{% url 'index' %}">Volver</a>
        </div>
    </section>

</body>

</html>