{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <!--configuracion de pagina-->
    {% include './include/head2.html' %}
</head>

<body>
    {% include './include/header.html' %}
    <section class="container">
        <div class="row text-center">
            <div class="col-md-12 col-lg-12">
                <h5 class="letrasText"><strong>Registro Cliente</strong> </h5>
            </div>
        </div>


        <form action="/registroCliente/crear_cliente/" enctype="multipart/form-data" method="POST"
            id="registroClientes" class="bd-formulario">
            {% csrf_token %}
            <div class="form-row espacioForm">
                <div class="form-group col-md-4 ">
                    <label for="nombreRazon">Nombre o Razon social</label>
                    <input type="text" class="form-control" name="nombreRazon" id="nombreRazon"
                        placeholder="Nombre o razon social" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="rubro">Rubro</label>
                    <input type="text" class="form-control" name="rubro" id="rubro" placeholder="Rubro" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="rut">Rut</label>
                    <input type="text" class="form-control mixed" name="rut" id="run" placeholder="Ej: xx.xxx.xxx-x"
                        minlength="12">
                </div>
            </div>
            <div class="form-row espacioForm">
                <div class="form-group col-md-4">
                    <label for="region">Region</label>
                    <input type="text" class="form-control" name="region" id="region" placeholder="Región" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" class="form-control" name="ciudad" id="ciudad" placeholder="Ciudad" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="comuna">Comuna</label>
                    <input type="text" class="form-control mixed" name="comuna" id="comuna" placeholder="Comuna">
                </div>
            </div>
            <div class="form-row espacioForm">
                <div class="form-group col-md-4">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Dirección"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control mixed" name="correo" id="correo" placeholder="Correo">
                </div>
            </div>
            <div class="form-row espacioForm">
                <div class="form-group col-md-4">
                    <label for="contrasenia">Contraseña</label>
                    <input type="text" class="form-control" name="contrasenia" id="contrasenia" placeholder="Contraseña"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="contrato">Contrato</label>
                    <input type="text" class="form-control" name="contrato" id="contrato" placeholder="Tipo contrato"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="fechaIngreso">Fecha Ingreso</label>
                    <input type="text" class="form-control mixed" name="fechaIngreso" id="fechaIngreso"
                        placeholder="Fecha Ingreso">
                </div>
            </div>
            <div class="row espacio-boton">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-block" onclick="limpiar()">Limpiar</button>
                    <br>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-block" value="Registrar">
                    <br>
                </div>
            </div>





            </form>
    </section>















    <!---Mostar datos
    <h1 class="text-center white-text">Datos Empleado </h1>
    <div class="container-fluid">
        <table class="table table-striped ">
            <thead class="thead ¡-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">run</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Comuna</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in empleados %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td> {{e.nombre}}</td>
                    <td> {{e.apellido}}</td>
                    <td>{{e.run}}</td>
                    <td> {{e.contrasenia}}</td>
                    <td> {{e.correo}}</td>
                    <td>{{e.telefono}}</td>
                    <td> {{e.direccion}}</td>
                    <td> {{e.comuna}}</td>
                    <td> <a class="btn btn-warning btn-block" href="eliminar_empleado/{{e.id}}" data-toggle="tooltip"
                            data-placement="right" title="Eliminar"><i class="far fa-trash-alt fa-2x"></i></a></td>
                    <td>
                        <a class="btn btn-danger btn-block" data-toggle="tooltip" data-placement="right"
                            title="Modificar" href="administrarEmpleado/{{e.id}}"
                            onclick="editar('{{e.nombre}}','{{e.apellido}}','{{e.run}}','{{e.contraseña}}','{{e.correo}}','{{e.telefono}}','{{e.direccion}}','{{e.comuna}}')"><i
                                class="far fa-edit fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>-->





    {% include './include/scripts.html' %}
</body>

</html>