{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>

</head>

<body>
    <!---Header--->
    <header>
        <!---Menu Principal-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light headercentral">
            <a class="navbar-brand" href="#"><img id="logo" src="{% static 'imagen/logoAsegurados.png' %}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active inic">

                        <a class="nav-link tamañoLetra" href="">Inicio<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active nosotros">
                        <a class="nav-link" href="" tabindex="-1" aria-disabled="true">Nosotros</a>
                    </li>
                    <li class="nav-item active productos">
                        <a class="nav-link" href="" tabindex="-1"
                            aria-disabled="true">Productos</a>
                    </li>

                    <li class="nav-item active registro">
                        <a class="nav-link" href="" tabindex="-1"
                            aria-disabled="true">Registro</a>
                    </li>

                    <li class="nav-item active login">
                        <a class="nav-link" href="{% url 'index' %}" tabindex="-1" aria-disabled="true">Login</a>
                    </li>
                    <li class="cerrarsesion">
                        {% block content %}
                        <!--Cerrar sesion-->
                        {% if usuario is not None%}
                        <h5>Hola, {{ user.first_name }}</h5>
                        <a class="dropdown-item " href="{% url 'cerrar_session' %}">Cerrar Sesión</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <!---Header bottom-->
        <section class="headerbotton" id="telefonoContacto">
            <div class="row ">
                <div class="col col-sm-12 col-md-12 col-lg-12">
                    <p class="text-right">Contacto +56 932561789</p>
                </div>
            </div>
        </section>
    </header>

    <!---Menu administrador-->
    <section class="">
        <div class="row menuAdmin"> 
            <div class="col-md-12 ">
                {% if user.is_superuser %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                        <ul class="navbar-nav mr-auto links">
                            <li id="" class="nav-item active tituloMenuAdmin">
                                <h6 id="letraMenu">Menú Administrador</h6>
                            </li>
                            <li class="nav-item active nosotros">
                                <a class="nav-link" href="">Administrar Clientes</a>
                            </li>
                            <li class="nav-item active nosotros">
                                <a class="nav-link" href="">Administrar Empleados</a>
                            </li>
                            <li class="nav-item active nosotros">
                                <a class="nav-link" href="">Administrar Productos</a>
                            </li>
                            <lic class="nav-item active nosotros">
                                <a class="nav-link" href="#">Administrar Noticias</a>
                                </li>
                        </ul>
                    </div>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
    {% endblock content %}
</body>

</html>